<p>Note: Disabled products and companies are not visable to non-admins</p>

<h1>Companies Index</h1>

Comapnies:

<table>
	<tr>
		<th> Id </th>
		<th> Company Name </th>
		<th> edit </th>
		<th> delete </th>
		<th> Enabled Status</th>
		<th> Enable/Disabled</th>
	</tr>
	<% companies.each( function(company) { %>
	<tr>
		<td> <%= company.id %> </td>
		<td> <%= company.escape("name") %> </td>
		<td> <a href="/#/companies/<%= company.id %>/edit"> Edit </a> </td>
		<td> <button class="companyDelete" data-id="<%= company.id %>"> Delete </button> </td>
		<td> <%= company.enabledString() %> </td>
		<td> <button class="enableToggle" data-id="<%= company.id %>"> <%= company.enabledToggleString() %> </button> </td>
	</tr>
	<% }); %>
</table>

<h2>Add a company</h2>
<form class="companyAdd">
	<label>Title:
		<input type="text" name="name">
	</label>	
	<input type="submit" value="Add Company">
</form>

<ul class="errors">
</ul>


<a href="/#">Link to Main Page</a><br>
<a href="/#/products">Link to Products Page</a>