<h1> New Price Page </h1>

<form action="<%= prices_url %>" method ="post">
	<label>
		Price: <input type="text" name = "price[price]"> <br>
	</label>
	<label>
		Product ID: <input type="text" name = "price[product_id]"> <br>
	</label>
	Select Price Type: 
	<select name ="price[pricer_id]">
		<% @companies.each do |company| %>
			<option value="<%= company.id%>">
				<%= company.name %>
			</option>
		<% end %>
		<% if logged_in? %>
			<option value="-1">
			<%= current_user.email %>
			</option>
		<% end %>
	</select>

	<input type="hidden" name="price[pricer_type]" value="Company">
	<input type="submit" value="Make Price!">
</form>

<%= link_to "Root Index", root_url %>

