<h1>Products Index</h1>


Products:

<table>
	<tr>
		<th>Category</th>
		<th>Product</th>
		<th>Dosage</th>
		<th>Package</th>
		<th></th>
		<th></th>
	</tr>
	<% products.each( function(product) { %>
	<tr>
		<td> <%= product.escape("category") %> </td>
		<td> <%= product.escape("product") %> </td>
		<td> <%= product.escape("dosage") %> </td>
		<td> <%= product.escape("package") %> </td>
		<td> <a href="/#/products/<%= product.id %>/edit"> Edit </a><td>
		<td><a class="productDelete" data-id="<%= product.id%>"> delete </a></td>
	</tr>
	<% }); %>


</table>

<br>


<h2>Add a Product</h2>
<form class="productAdd">
	<label>Category:
		<input type="text" name="category">
	</label>
	<label>Product:
		<input type="text" name="product">
	</label>
	<label>Dosage:
		<input type="text" name="dosage">
	</label>
	<label>Package:
		<input type="text" name="package">
	</label>	
	<input type="submit" value="Add Product">
</form>

<ul class="errors">
</ul>


<a href="/#">Link to Main Page</a>