<h1>Product Show Page</h1>

ID: <%= product.id + 1000 %><br>
<strong> Category:</strong> <%= product.escape("category") %> <br>
<strong> Name:</strong> <%= product.escape("name") %> <br>
<strong> Dosage:</strong> <%= product.escape("dosage") %> <br>
<strong> Package:</strong> <%= product.escape("package") %> <br>
<br>

<h2> Pretend there is an awesome google graph here </h2><br>

<a href="/#/products">Link to Products Page</a>