<h1>Product Show Page</h1>

ID: <%= product.id + 1000 %><br>
<strong> Category:</strong> <%= product.escape("category") %> <br>
<strong> Name:</strong> <%= product.escape("name") %> <br>
<strong> Dosage:</strong> <%= product.escape("dosage") %> <br>
<strong> Package:</strong> <%= product.escape("package") %> <br>
<br>

<h2> Historical Prices</h2><br>
<table>
	<tr>
		<th>Year</th>
		<th>Month</th>
		<% companies.each( function(company) { %>
			<th> <%= company.escape("name") %> </th>
		<% }); %>
		
	</tr>
	<% historicals = product.get("historicalPrices") %>
	<% if (product.get("historicalPrices")){ %>
		<% for(year in historicals){%>
			<% for(month in historicals[year]){%>
				<tr>
					<td><%= year %> </td>
					<td><%= month %> </td>
					<% companies.each( function(company) { %>
						<td> <%= historicals[year][month][company.escape("name")] %> </td>
					<% }); %>
				</tr>
			<% } %>	
		<% } %>
	<% } %>
</table>

<a href="/#">Link to Root Page</a>
