<h1>Product Show Page</h1>

ID: <%= product.id + 1000 %><br>
<strong> Category:</strong> <%= product.escape("category") %> <br>
<strong> Name:</strong> <%= product.escape("name") %> <br>
<strong> Dosage:</strong> <%= product.escape("dosage") %> <br>
<strong> Package:</strong> <%= product.escape("package") %> <br>
<br>

<h2> Historical Prices</h2><br>

<ul>
	<% historicals = product.get("historicalPrices") %>
	<% if (product.get("historicalPrices")){ %>
		<% for(year in historicals){%>
			<li>
				<%= year %> <%= historicals[year]%>
				<ul>
					<% for(month in historicals[year]){%>
					<li>
						<%= month %>
						<ul>
							<% for(company in historicals[year][month]){%>
							<li>
								<%= company %>:<%= historicals[year][month][company] %>
							<li>
							<% } %>	
						</ul>
					</li>
					<% } %>	
				</ul>
			<li>
		<% } %>
	<% } %>
</ul>
<table>
	<tr>
		<th>Year</th>
		<th>Month</th>
		
	</tr>
</table>

<a href="/#">Link to Root Page</a>