<h1> Price Comparison Tool </h1>

<form>
	<% companies.each( function(company) { %>
		<label>
			<input type="checkbox" name="companiesFilter" value="<%= company.escape("name") %>" class="tableFilter" checked/>
			<%= company.escape("name") %>
		</label>
	<% }); %>
</form>

<div id="productsTable"></div>
<br>
User percentage: <%= user.escape("price_range_percentage") %>
<form id="userPercentForm">
	<input type="text" name="price_range_percentage" value="<%= user.escape("price_range_percentage")%>" id="percentInputFeild"><br>
	<label>Competitor:</label><br>
	<select name="selectionCompany" id="comparisonCompany">
		<option></option>
		<% companies.each( function(company) { %>
			<option value="<%= company.id %>" <% if(user.get("comparison_company_id") === company.id ){ %> selected <% } %>>
			<%= company.escape("name")%></option>
		<% }); %>
	</select>
</form><br>
<button type="button" class="saveProducts">Save Changes</button> <br>

<br>
<button type="button" class="emailSelf">Send my report!</button> <br>
<br>
<br>
<h3> Upload Your Prices via Excel</h3>
<form class="uploadUserPrices" >
	<label>
		File: <input type="file" name="sheet" id="userPricesSheet" type="xls|xlsx">
	</label>
	<input type="submit" value="Upload!">
</form>
<br>
<h3><a href="/user_upload.xlsx">Download your Price Excel File</a></h3>

<br>
<% if(user.get("is_admin") === true){ %>
	Admin functions: <br>
	<a href="/#/companies">Link to Companies Page</a><br>
	<a href="/#/products">Link to Products Page</a>
<% } %>

