<h1> Price Comparison Tool </h1>

<br>
<form id="userPercentForm">
	<label>Competitor:</label><br>
	<select name="selectionCompany" id="comparisonCompany">
		<option <% if(typeof user.get("comparison_company_id") === "undefined" ){ %> selected <% }else{ %> disabled <% } %>>------------</option>
		<% companies.each( function(company) { %>
			<option value="<%= company.id %>" <% if(user.get("comparison_company_id") === company.id ){ %> selected <% } %>>
			<%= company.escape("name")%></option>
		<% }); %>
	</select>
	<br>
	<label>Percent Variance:</label>
	<input type="text" name="price_range_percentage" value="<%= user.escape("price_range_percentage")%>" id="percentInputFeild"><br>
</form>
<button type="button" class="saveProducts">Save Changes</button> <br>
	<br>
<div class="tableControls">

<form class="filterCheckBoxes tableControls">
	<% if(typeof categoriesArray !== "undefined"){ %>
		<% for(i = 0; i < categoriesArray.length; i++) { %>
		<label>
			<input type="checkbox" name="categoryList" value="<%= categoriesArray[i] %>" class="categoryFilter"
				

				<% if(Cookie.get("categoriesSelected") != null){ %>

					<% if(Cookie.get("categoriesSelected").split(",").indexOf(categoriesArray[i]) > -1){ %>
						checked
					<% } %>
				<% } else{ %>
					checked
				<% } %>
			/>
			<%= categoriesArray[i] %>
		</label>
		<% }; %>
	<% }; %> <br>
	<button type="button" class="selectAllCategories">Select All</button>
	<button type="button" class="deselectAllCategories">Deselect All</button>
</form>
<form>
	<label>
		<input type="checkbox" name="priceToggle" class="pricedToggle"

			<% if(Cookie.get("pricesEnteredFilter") != null){ 
			if(Cookie.get("pricesEnteredFilter") === "true"){ %>
				checked
			<% }} %>
		/>
		View Only Priced Products
	</label>
</form>

<form class="companiesCheckBoxes tableControls">
	<% companies.each( function(company) { %>
		<label>
			<input type="checkbox" name="companiesFilter" value="<%= company.escape("name") %>" class="tableFilter"
				<% if(user.get("comparison_company_id") === company.id){ %>
					checked disabled="disabled"
				<% } else if(selectedCompanies.indexOf(company.escape("name")) > -1){ %>
					checked
				<% } else if(selectedCompanies.length >= 3){ %>
					disabled="disabled"
				<% } %>

			/>
			<%= company.escape("name") %>
		</label>
	<% }); %>
</form>
</div>

<div id="productsTable"></div>


<br>
<button type="button" class="emailSelf">Send my report!</button> <br>
<br>
<p>
	You can upload your prices via an excel document. To do this, download your Price Excel File, fill it out.  Then select your file from the upload form and press upload!
</p>
<br>
<h3> Upload Your Prices via Excel</h3>
<form class="uploadUserPrices" >
	<label>
		File: <input type="file" name="sheet" id="userPricesSheet" accept="xls|xlsx">
	</label>
	<input type="submit" value="Upload!">
</form>
<br>
<h3><a href="/excel/export_user_uploads.xlsx">Download your Price Excel File</a></h3>

<br>
<% if(user.get("is_admin") === true){ %>
	Admin functions: <br>
	<a href="/#/companies">Link to Companies Page</a><br>
	<a href="/#/products">Link to Products Page</a>
<% } %>

