<h1> Price Comparison Tool </h1>

<br>
User percentage: <%= user.escape("price_range_percentage") %>
<form id="userPercentForm">
	<input type="text" name="price_range_percentage" value="<%= user.escape("price_range_percentage")%>" id="percentInputFeild"><br>
	<label>Competitor:</label><br>
	<select name="selectionCompany" id="comparisonCompany">
		<option></option>
		<% companies.each( function(company) { %>
			<option value="<%= company.id %>" <% if(user.get("comparison_company_id") === company.id ){ %> selected <% } %>>
			<%= company.escape("name")%></option>
		<% }); %>
	</select>
</form><br>
<button type="button" class="saveProducts">Save Changes</button> <br>

<form class="filterCheckBoxes">
	<% if(typeof categoriesArray !== "undefined"){ %>
		<% for(i = 0; i < categoriesArray.length; i++) { %>
		<label>
			<input type="checkbox" name="categoryList" value="<%= categoriesArray[i] %>" class="categoryFilter" checked/>
			<%= categoriesArray[i] %>
		</label>
		<% }; %>
	<% }; %> <br>
	<button type="button" class="selectAllCategories">Select All</button>
	<button type="button" class="deselectAllCategories">Deselect All</button>
</form>
<form>
	<label>
		<input type="checkbox" name="priceToggle" class="pricedToggle"/>
		View Only Priced Products
	</label>
</form>

<form class="companiesCheckBoxes">
	<% companies.each( function(company) { %>
		<label>
			<input type="checkbox" name="companiesFilter" value="<%= company.escape("name") %>" class="tableFilter" 
				<% if(selectedCompanies.indexOf(company.escape("name")) > -1){ %>
					checked
				<% } else if(selectedCompanies.length >= 3){ %>
					disabled="disabled"
				<% } %>

			/>
			<%= company.escape("name") %>
		</label>
	<% }); %>
</form>

<div id="productsTable"></div>


<br>
<button type="button" class="emailSelf">Send my report!</button> <br>
<br>
<p>
	You can upload your prices via an excel document. To do this, download your Price Excel File, fill it out.  Then select your file from the upload form and press upload!
</p>
<br>
<h3> Upload Your Prices via Excel</h3>
<form class="uploadUserPrices" >
	<label>
		File: <input type="file" name="sheet" id="userPricesSheet" accept="xls|xlsx">
	</label>
	<input type="submit" value="Upload!">
</form>
<br>
<h3><a href="/excel/export_user_uploads.xlsx">Download your Price Excel File</a></h3>

<br>
<% if(user.get("is_admin") === true){ %>
	Admin functions: <br>
	<a href="/#/companies">Link to Companies Page</a><br>
	<a href="/#/products">Link to Products Page</a>
<% } %>

