<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
	</head>
	<body>
		<h1>Your Monthly Price Report</h1>
		<% if @user.comparison_company_id %>
		<p><strong>Your Comparison Company:</strong> <%= Company.find(@user.comparison_company_id).name %></p>
		<p><strong>Your Price Threshold:</strong> <%= @user.price_range_percentage %></p><br>

		<h2>Products</h2>
		<table>
			<tr>
				<th>ID</th>
				<th>Category</th>
				<th>Product</th>
				<th>Manufacturer</th>
				<th><%= Company.find(@user.comparison_company_id).name %> Price</th>
				<th>Your Price</th>
			</tr>
			<% @user.build_price_report_email_hash.each do |product| %>
			<% puts "testing"%>
			<tr>
				<td><%= product[:id] %></td>
				<td><%= product[:category] %></td>
				<td><%= product[:name] %></td>
				<td><%= product[:manufacturer] %></td>
				<td><%= product[:competitor_price] %></td>
				<td><%= product[:user_price] %></td>
			</tr>
			<% end %>
		</table>
		<% else %>
			<p>Hey, we'd love to give you a report, but it seems as if your account doesn't have a comparison company choosen.  Would you care to log into our site and choose one?</p>
		<% end %>
		<br>
		<a href="PLACEHOLDER">See your full price comparison</a>
	</body>
</html>