<h1>Product Show Page</h1>
	<strong> Category: </strong> <%= @product.category %>  <br>
	<strong> Product: </strong> <%= @product.product %>  <br>
	<strong> Dosage: </strong> <%= @product.dosage %>  <br>
	<strong> Package: </strong> <%= @product.package %>  <br>
<br>
<br>
<%= link_to "Products Index", products_url%>

