<!DO/quasimonomial/vetpda/commits/allCTYPE html>
<html>
<head>
  <title>Vetpda</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

<link rel="alternate" type="application/rss+xml" title="Veterinary Practice Data Analytics &raquo; Feed" href="http://vetpda.com/feed/" />
<link rel="alternate" type="application/rss+xml" title="Veterinary Practice Data Analytics &raquo; Comments Feed" href="http://vetpda.com/comments/feed/" />
<link rel='stylesheet' id='formidable-css'  href='http://vetpda.com/wp-content/uploads/formidable/css/formidablepro.css?ver=1.07.04' type='text/css' media='all' />
<link rel='stylesheet' id='layerslider_css-css'  href='http://vetpda.com/wp-content/plugins/LayerSlider/css/layerslider.css?ver=4.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='mediaelementplayer-css'  href='http://vetpda.com/wp-content/themes/ibusiness/css/mediaelementplayer.css?ver=3.8.7' type='text/css' media='all' />
<link rel='stylesheet' id='jquery.fancybox-css'  href='http://vetpda.com/wp-content/themes/ibusiness/fancybox/source/jquery.fancybox.css?v=2.1.2&#038;ver=3.8.7' type='text/css' media='all' />
<link rel='stylesheet' id='hoverex-css'  href='http://vetpda.com/wp-content/themes/ibusiness/css/hoverex-all.css?ver=3.8.7' type='text/css' media='all' />
<link rel='stylesheet' id='themeple_font_aw-css'  href='http://vetpda.com/wp-content/themes/ibusiness/css/font-awesome.css?ver=3.8.7' type='text/css' media='all' />
<link rel='stylesheet' id='themeple_font_aw_ie-css'  href='http://vetpda.com/wp-content/themes/ibusiness/css/font-awesome-ie7.min.css?ver=3.8.7' type='text/css' media='all' />

</head>
<body>
	<div class="top_nav">
        
        <div class="container">
            <div class="row-fluid">
                <div class="span7">
                                    </div>
                <div class="span3">
                                    </div>
                <div class="span2">
                                    </div>
            </div>
        </div>
    </div>

    <header id="header">
        <div class="container">
    	   <div class="row-fluid">
                <div class="span12">

                <!-- Logo -->
		                              
                                        <div id="logo" class="">

                        

                            <a href='http://vetpda.com/'><img src=http://vetpda.com/wp-content/themes/ibusiness/img/logo.png alt='' /></a>		      
                    </div><!-- #logo -->

		      
			<div id="navigation" class="nav_top pull-right ">

                        	

            	            	<nav>

            	                	<ul class='menu sub-menu'><li><a href='http://vetpda.com'>Home</a></li><li class="page_item page-item-11"><a href="http://vetpda.com/marketing/">Marketing Analysis &#8211; Map It!</a></li>
									<li class="page_item page-item-34"><a href="http://vetpda.com/personnel/">Personnel Tools</a></li>
									<li class='current-menu-item'><a href="http://vetpda.com/financial/">Financial Analysis Tools</a></li>
									<li class="page_item page-item-39"><a href="http://vetpda.com/custom/">Custom Data Analysis</a></li>
									</ul>
                                  

            	                </nav>





                            

                     </div><!-- #navigation -->

		    	
            
                </div>
            </div>
        	   
            

            

            

        

        </div>

    </header>

    <div class="top_wrapper">

    <!-- .header -->        

    
        
        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
            <h2>Online Pharmacy Comparison Tool</h2>  <span class="subtitle"><span>/</span></span>
            <ul class="page_parents pull-right">
                
                <li><a href="http://vetpda.com">Home</a>/</li>
                
                                <li><a href="http://vetpda.com/financial/">Financial Analysis Tools</a>/</li>
                                <li><a href="http://vetpdav1.herokuapp.com">Online Pharmacy Comparison Tool</a></li>

            </ul>
            </div>
            
    </div> 
    <style type="text/css">

    element {
	}
	.header h6, .header h5, .header h4, .header_shadow {
	    background-color: #FFF;
	}
	.header_shadow {
	    width: 100%;
	    position: relative;
	    z-index: 0;
	    background: url('img/header_shadow.png') no-repeat scroll center bottom transparent;
	    bottom: 0px;
	    float: left;
	    height: 12px;
	}

	input, button, select, textarea, body, span, aside .widget_twitter li {
    font-family: Roboto;
    font-size: 13px;
    color: #000;
	}
	body {
	    line-height: 20px;
	    font-weight: 300;
	}
	body {
	    line-height: 20px;
	    color: #333;
	}

	html {
    font-size: 100%;
	}
	</style>

    <div class="header_shadow"></div> 
	</div>


	<% if logged_in? %>
		<% if current_user.is_admin %>
			<p>You are an admin!</p>
		<% end %>
		<% unless current_user.activated %>
			<p>Your account is not activated!  Please check your email and activate your account.</p>
		<% end %>

		<%= link_to "Edit your settings", edit_user_url(current_user) %>
		<%= button_to "Sign Out", session_url, :method => :delete %>
	<% else %>
		<%= link_to "Sign In", new_session_url %>
		<%= link_to "Sign Up", new_user_url %>
	<% end %>
	
	<%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
	<%= flash[:info].html_safe if flash[:info] %>
	<%= yield %>

	<div class="footer_wrapper">
        <div class="top_footer"><div class="container"><ul class='tweet_list' id='tweet_footer'><li>No public Tweets found</li></ul><div class="pagination pull-right"><a href="#" class="back"><i class="icon-arrow-left"></i></a><a href="#" class="next"><i class="icon-arrow-right"></i></a>  </div><span class="shadow_top_footer"></span></div>
    </div>
       <footer id="footer">
        
         	<div class="inner">
	    	<div class="container">
	        	<div class="row-fluid ff">
                
                	<!-- widget -->
		        	                        <div class="span6">
                        
                            <div class='widget'>Add Widget Column 1</div>                            
                        </div>
                        
                        
                        
                        
                                                <div class="span6">
                        
                            <div class='widget'>Add Widget Column 2</div>                            
                        </div>
                        
                        
                        
                        
                                            
	            </div>
	        </div>
        </div>
                <div id="copyright">
	    	<div class="container">
	        	<div class="row">
		        	<div class="span12">iBusiness © 2013                        <div class="pull-right">
                                                        <span>012 Some Street. Milano, MI, 123 IT</span>
                                                        <span>(123) 456-7890</span>
                                                        <span>contact@companyname.com</span>
                                                    </div>
                    </div>
                    
                </div>
            </div>
        </div><!-- #copyright -->

    	</footer>

</body>
</html>
